<div class="container">
  <h1>Super heroes</h1>
  <div class="busqueda">
    <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input
        #superHeroeSearchInput
        type="text"
        pInputText
        [(ngModel)]="nombreBusqueda"
        class="p-inputtext-lg"
        placeholder="Superheroe a buscar"
      />
    </span>
  </div>
  <div class="anadir">
    <button
      type="button"
      pButton
      icon="pi pi-plus"
      routerLink="/crear-heroe"
      pTooltip="Añadir"
    >
      Añadir
    </button>
  </div>
  <div class="progress-spinner" *ngIf="spinnerActive">
    <p-progressSpinner
      strokeWidth="8"
      fill="var(--surface-ground)"
      animationDuration=".5s"
    ></p-progressSpinner>
    <h4>Los datos se están cargando...</h4>
  </div>
  <app-tabla-super-heroes
    [superHeroes]="superHeroes | filterHeroPipe : nombreBusqueda"
  ></app-tabla-super-heroes>
</div>
