.container {
  margin-left: 5em;
}
.busqueda {
  display: flex;
  justify-content: center;
  margin: 2em;
}
.anadir {
  display: flex;
  margin-bottom: 2em;
  margin-right: 5em;
}
.progress-spinner {
  position: static;
  z-index: 999;
  width: fit-content;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
